.issueloader {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 300px;
}

.allholder {
    position: fixed;
    top: 300px;
    width: 100%;
    bottom: 0px;
}

.loader {
    /* overflow-x: scroll; */
    height: 300px;
}

.releaseholder {
    flex: 1;
    display: flex;
    overflow: auto;
}

.releaseview {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-shrink: 0;
    align-items: flex-start;
    position: absolute;
    left: 0;
    height: 100%;
    /* max-width: 100%; */
    overflow: scroll;
    background-color: darkblue;
}

.newrelease {
    display: inline-block;
    margin: 30px;
    height: 300px;
    width: 300px;
    background-color: blue;
}

.release {
    display: inline-block;
    position: relative;
    margin: 30px;
    /* top: 30px; */
    height: 100%;
    width: 300px;
    background-color: aqua;
}

.cardlocater:hover {
    border: 5px #3a9c3a solid;
}

.draggingCardsPreventEvents {
    pointer-events: none;
}